<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-2">
    <nav class="w-full flex justify-between items-center md:p-2 bg-purple-400/10 rounded-3xl mt-2">
        <div class="">
            <img src="{{ asset('img/logo1.svg') }}"
                 class="w-20 p-3" alt="">
        </div>
    </nav>


    {% block content %}
    {% endblock %}
</div>


</body>
</html>